/* [project]/src/components/layouts/userPanelLayout.module.css (css, css module, rsc) */
.layout__userPanelLayout__650e6643 {
  background: white;
  width: 100%;
  direction: rtl;
  height: 100vh;
  color: black;
}
.contents__userPanelLayout__650e6643 {
  width: 100%;
}
.section__userPanelLayout__650e6643 {
  display: flex;
}