/* chunk [output]/.next/server/app/chunks/rsc/src_styles_aboutUs.module_b5a149.css */
/* [project]/src/styles/aboutUs.module.css (css, css module, rsc) */
.container__aboutUs__1f1cce4 section {
  display: grid;
  grid-template-columns: auto auto auto;
  color: black;
  line-height: 2rem;
  direction: rtl;
  gap: 110px;
  padding: 40px 0;
  color: gray;
}
.container__aboutUs__1f1cce4 section div p {
  font-size: 36px;
  line-height: 2.4rem;
}
.container__aboutUs__1f1cce4 section div {
  display: grid;
  gap: 5px;
  color: black;
}
.container__aboutUs__1f1cce4 span {
  font-size: 14px;
}
.container__aboutUs__1f1cce4 {
  color: black;
  text-align: right;
  max-width: 1222px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
}
.main__aboutUs__1f1cce4 p {
  margin-top: 20px;
  direction: rtl;
}
.main__aboutUs__1f1cce4 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 90px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.main__aboutUs__1f1cce4 span {
  font-size: 14px;
}
.title__aboutUs__1f1cce4 {
  margin: 10px 0 !important;
  font-size: 35px;
}

