/* chunk [output]/.next/server/app/chunks/rsc/src_styles_forget-password.module_b5a149.css */
/* [project]/src/styles/forget-password.module.css (css, css module, rsc) */
.forgot_password__forget-password__388e94d1 {
  z-index: 999;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(rgb(237, 230, 234), rgb(237, 230, 234));
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.bg__forget-password__388e94d1 {
  width: 50%;
}
.forgot_password__forget-password__388e94d1 section {
  width: 50%;
  height: 100%;
  background-color: rgb(52, 24, 14);
}
.btn__forget-password__388e94d1 {
  padding: 0.8rem;
  cursor: pointer;
  font-family: shabnam;
  background-color: rgb(52, 24, 14);
}
.form__forget-password__388e94d1 {
  display: grid;
  background-color: white;
  padding: 10px 25px;
  width: 380px;
  font-family: shabnam;
  margin: 13rem auto 2rem;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
}
.input__forget-password__388e94d1 {
  font-family: shabnam;
  padding: 13px;
  background-color: white;
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  direction: rtl;
  margin-top: 20px;
}
.back_to_login__forget-password__388e94d1 {
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.redirect_to_home__forget-password__388e94d1 {
  display: block;
  width: max-content;
  margin: 0 auto;
  font-family: shabnam;
  cursor: pointer;
  font-size: 13px;
  color: rgb(52, 24, 14);
}

