/* [project]/src/components/modules/product/product.module.css (css, css module, rsc) */
.card__product__9b753341 {
  width: 100%;
  direction: rtl;
  position: relative;
  padding-top: 19px;
  color: black;
}
.details__product__9b753341 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  padding-top: 5px;
  justify-content: center;
}
.details__product__9b753341 svg {
  color: orange;
}
.details__product__9b753341 div {
  direction: ltr;
}
.details_container__product__9b753341:hover img {
  transform: scale(1.1);
}
.details_container__product__9b753341 img {
  transition: 0.4s all ease-in;
}
.card__product__9b753341 img {
  width: 100%;
  height: 312px;
}
.card__product__9b753341 span {
  color: rgb(52, 24, 14);
}
.details_container__product__9b753341 {
  position: relative;
  margin-top: 5px;
}
.details_container__product__9b753341:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.details_container__product__9b753341:hover::before {
  opacity: 1;
}
.details_container__product__9b753341:hover button {
  visibility: visible;
  left: 50%;
  bottom: 50%;
  height: max-content;
  transform: translate(-50%, 50%);
}
.details_container__product__9b753341:hover .icons__product__9b753341 {
  visibility: visible;
  left: 10px;
}
.icons__product__9b753341 svg {
  cursor: pointer;
}
.icons__product__9b753341 {
  top: 10px;
  left: 0;
  color: white;
  transition: all 0.25s ease;
  font-size: 2rem;
  display: grid;
  gap: 10px;
  z-index: 3;
  position: absolute;
  visibility: hidden;
  background-color: transparent;
}
.details_container__product__9b753341 button {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  bottom: 0;
  transition: all 0.25s ease;
  z-index: 3;
  background: transparent;
  left: 120px;
  position: absolute;
  visibility: hidden;
  color: white;
  width: max-content;
  border: 1px solid white;
  border-radius: 4px;
}
.icons__product__9b753341 a, 
.icons__product__9b753341 div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
}
.tooltip__product__9b753341 {
  font-size: 10px !important;
  align-items: center;
  opacity: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0 12px;
  white-space: nowrap;
  border-radius: 4px;
  font-size: 13px;
  line-height: 34px;
  position: relative;
}
.icons__product__9b753341 a:hover .tooltip__product__9b753341, 
.icons__product__9b753341 div:hover .tooltip__product__9b753341 {
  opacity: 1;
}