/* chunk [output]/.next/server/app/chunks/rsc/src_components_templates_index_latest_latest.module_b5a149.css */
/* [project]/src/components/templates/index/latest/latest.module.css (css, css module, rsc) */
.container__latest__4af1378a {
  max-width: 1222px;
  margin: 0 auto;
}
.title__latest__4af1378a {
  color: black;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  display: flex;
  text-align: center;
  font-family: shabnam;
  margin-top: 1.7rem;
  align-items: center;
}
.title__latest__4af1378a p {
  color: #114639;
  font-size: 36px;
}
.title__latest__4af1378a span {
  color: gray;
}
.link__latest__4af1378a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 9px;
}
.products__latest__4af1378a {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  padding: 20px 0px;
  justify-content: space-between;
}

