/* chunk [output]/.next/server/app/chunks/rsc/src_styles_p-user_index.module_b5a149.css */
/* [project]/src/styles/p-user/index.module.css (css, css module, rsc) */
.boxes__index__8cb776d8 {
  gap: 20px;
  margin-top: 3rem;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
}
.contents__index__8cb776d8 {
  display: flex;
  padding: 40px;
  gap: 10px;
}

