/* chunk [output]/.next/server/app/chunks/rsc/src_styles_cart.module_b5a149.css */
/* [project]/src/styles/cart.module.css (css, css module, rsc) */
.cart_empty__cart__bbad0002 {
  position: relative;
  margin-top: 5vw;
  margin-bottom: 54px;
  text-align: center;
  line-height: 1.2;
  color: black;
  direction: rtl;
}
.cart_empty__cart__bbad0002 svg {
  font-size: 15.2em;
  color: #f1f1f1;
}
.cart_empty__cart__bbad0002 p {
  font-size: 48px;
  margin-bottom: 1.5rem;
}
.cart_empty__cart__bbad0002 span {
  display: block;
  margin-bottom: 0.5rem;
  color: gray;
}
.cart_empty__cart__bbad0002 a:hover {
  background: rgb(113, 29, 28) !important;
}
.cart_empty__cart__bbad0002 span:nth-child(4) {
  margin-bottom: 2.8rem !important;
}
.cart_empty__cart__bbad0002 a {
  padding: 14px 28px;
  transition: 0.1s all ease-in;
  font-size: 14px;
  line-height: 20px;
  margin-top: 4rem;
  border-radius: 0.001px;
  color: white;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  background-color: rgb(0, 137, 121);
}
.cart__cart__bbad0002 {
  display: flex;
  max-width: 1222px;
  width: 100%;
  gap: 20px;
  margin-bottom: 51px;
  flex-direction: row-reverse;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

