/* chunk [output]/.next/server/app/chunks/rsc/src_components_layouts_adminPanelLayout.module_b5a149.css */
/* [project]/src/components/layouts/adminPanelLayout.module.css (css, css module, rsc) */
.layout__adminPanelLayout__6252268f {
  background: white;
  width: 100%;
  direction: rtl;
  height: 100vh;
  color: black;
}
.contents__adminPanelLayout__6252268f {
  width: 100%;
}
.section__adminPanelLayout__6252268f {
  display: flex;
}

