/* chunk [output]/.next/server/app/chunks/ssr/src_styles_p-user_accountDetails.module_b5a149.css */
/* [project]/src/styles/p-user/accountDetails.module.css (css, css module, ssr) */
.details__accountDetails__bad35e0b {
  padding: 20px;
}
.details_main__accountDetails__bad35e0b {
  align-items: end;
  display: flex;
  width: 100%;
  gap: 30px;
}
.details_main__accountDetails__bad35e0b section:nth-child(1) {
  gap: 30px;
}
.details_main__accountDetails__bad35e0b section {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}
.details__accountDetails__bad35e0b select {
  background: white;
  padding: 10px;
  color: black;
  outline: 0;
  border-radius: 5px;
  border: 3px solid #711d1c;
  margin-top: 4.5px;
}
.details__accountDetails__bad35e0b input[type="number"]::-webkit-outer-spin-button, 
.details__accountDetails__bad35e0b input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.details__accountDetails__bad35e0b input[type="number"] {
  -moz-appearance: textfield;
}
.details__accountDetails__bad35e0b input:disabled {
  opacity: 0.5;
}
.password_group__accountDetails__bad35e0b button {
  width: 120px !important;
}
.password_group__accountDetails__bad35e0b {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.details__accountDetails__bad35e0b input {
  padding: 10px;
  background-color: white;
  margin-top: 4px;
  outline: 0;
  color: black;
  border-radius: 5px;
  border: 3px solid #711d1c;
  width: 100%;
}
.details__accountDetails__bad35e0b p {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: right;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  z-index: 1;
}
.title__accountDetails__bad35e0b {
  margin-top: 30px;
  text-align: right;
  text-transform: uppercase;
  position: relative;
  font-size: 30px;
  z-index: 1;
  margin-bottom: 30px;
  font-weight: 500;
}
.title__accountDetails__bad35e0b:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.title__accountDetails__bad35e0b span {
  background: #fff;
  padding: 0 15px;
  margin-right: 4rem;
}
.title__accountDetails__bad35e0b:before {
  border-top: none;
}
.title__accountDetails__bad35e0b:after {
  border-bottom: 1px solid #711d1c;
  -webkit-box-shadow: 0 1px 0 0 #711d1c;
  -moz-box-shadow: 0 1px 0 0 #711d1c;
  box-shadow: 0 1px 0 0 #711d1c;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.uploader__accountDetails__bad35e0b {
  position: relative;
  gap: 30px;
  display: flex;
  align-items: center;
}
.uploader__accountDetails__bad35e0b::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #711d1c;
  position: absolute;
  transform: rotate(327deg);
  top: 16px;
  left: 0;
}
.uploader__accountDetails__bad35e0b::before {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #711d1c;
  position: absolute;
  transform: rotate(327deg);
  top: 24px;
  left: -7px;
}
.uploader__accountDetails__bad35e0b img {
  width: 200px;
  display: block;
  border-radius: 100%;
  border: 2px solid #711d1c;
}
.uploader__accountDetails__bad35e0b button svg {
  font-size: 1.5rem;
}
.uploader__accountDetails__bad35e0b button, 
.password_group__accountDetails__bad35e0b button {
  background-color: #711d1c;
  color: white;
  padding: 0.7rem;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row-reverse;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border-radius: 7px;
  border: 0;
}
.uploader__accountDetails__bad35e0b div div button {
  width: 100%;
  margin-top: 38px;
}
.uploader__accountDetails__bad35e0b div div {
  width: 100%;
}
.uploader__accountDetails__bad35e0b div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  width: 100%;
  align-items: baseline;
  position: relative;
}
.uploader__accountDetails__bad35e0b input {
  opacity: 0;
  left: 1px;
  width: 100%;
  position: absolute;
  top: 4px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
}
.submit_btn__accountDetails__bad35e0b {
  background-color: #711d1c;
  color: white;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row-reverse;
  outline: 0;
  cursor: pointer;
  width: 30%;
  border-radius: 7px;
  margin: 90px auto;
  border: 0;
  font-size: 1.8rem;
}
.submit_btn__accountDetails__bad35e0b:disabled {
  opacity: 0.5;
  cursor: none;
}

