/* chunk [output]/.next/server/app/chunks/ssr/src_styles_login-register.module_b5a149.css */
/* [project]/src/styles/login-register.module.css (css, css module, ssr) */
.login_register__login-register__19fd1fbb {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(rgb(237, 230, 234), rgb(237, 230, 234));
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.form_bg__login-register__19fd1fbb {
  width: 50%;
}
.login_register__login-register__19fd1fbb section {
  width: 50%;
  height: 100%;
  background-color: rgb(52, 24, 14);
}

