/* chunk [output]/.next/server/app/chunks/ssr/src_components_templates_contact-us_map.module_b5a149.css */
/* [project]/src/components/templates/contact-us/map.module.css (css, css module, ssr) */
.map__map__9482d90c {
  border-radius: 10px;
  height: 300px;
  width: 100%;
}
.details__map__9482d90c {
  margin: -73px 50px 0px 50px;
  padding: 7px 20px 15px 7px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: relative;
}
.details__map__9482d90c h3 {
  margin-top: 0.5rem;
}
.details__map__9482d90c span {
  color: gray;
  font-size: 14px;
}
.details__map__9482d90c p {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  color: rgb(63, 61, 61);
}
.details__map__9482d90c a {
  text-decoration: underline;
  margin-top: 0.5rem;
  font-size: 15px;
}

